#wallpaper-wrapper {
    display: flex;
    justify-content: center;
    background-image: url(https://moahstorage.blob.core.windows.net/assets/images/leaf_motif.svg);
    background-size: contain;
}
